

/* --- reset --- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body._lock {
    overflow: hidden;
}

ul,
ol,
li {
    list-style: none;
}


.header__container {
	 -webkit-border-radius:46px;
 -moz-border-radius:46px;
 border-radius:46px;
 -webkit-box-shadow:-2px 15px 84px -27px rgba(0,0,0,.75);
 -moz-box-shadow:-2px 15px 84px -27px rgba(0,0,0,.75);
 box-shadow:-2px 15px 84px -27px rgba(0,0,0,.75)
}

.header__logo {
    position: relative;
    z-index: 5;
    width: auto;
    height: auto;
    color: #000;
    font-size: 36px;
    line-height: 1.2;
}



.header__menu {}

.menu {}

.menu__icon {
    display: none;
}

.menu__body {}
.menu__body a {
text-decoration: none;
}

.menu__list {
}

.menu__list>li {
    position: relative;
    margin: 0px 0px 0px 20px;
}

.menu__link {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__link:hover {
    text-decoration: underline;
}
    .block__who_title {
        width: 30%;
        margin-right: 100px;
    }

	/* --------header---------- */

.wrapper-menu {
    height: auto;
    margin: 50px 0;
}

.header {
    z-index: 10;
    padding: 0 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto 10px;

}

.header__logo {
    position: relative;
    z-index: 5;
    width: auto;
    height: auto;
    color: #000;
    font-size: 36px;
    line-height: 1.2;
}

.header__menu {}

.block_logo{
    height: auto;
}

    .header__container {
        max-width: 1200px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-height: 70px;
        background-color: #fff;
		color: #000
        padding: 0 30px;
    }
	.header_container_menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header__logo" "header__menu";
}

.header__menu_block {
    display: fles;
}

/* --------menu---------- */
.menu {
line-height: 1.3;
}

.menu__icon {
    display: none;
}

.menu__body {}

.menu__list {

}

.menu__list>li {
    position: relative;
    margin: 0px 0px 0px 20px;
}

.menu__link {

    font-size: 18px;
}

.menu__link:hover {
    text-decoration: underline;
}


/* --------menu style---------- */
.m-social-block{
	display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80px;
}


body._pc .menu__list>li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body._touch .menu__list>li {
    display: flex;
    align-items: center;
}

body._touch .menu__link {
    flex: 1 1 auto;
}

body._touch .menu__list>li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body._touch .menu__list>li._active .menu__arrow {
    transform: rotate(-180deg);
}

/*  ======  @media  ===== */

@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .guiding_principe_tbnum div {
        margin-top: -15px;
        width: 50px;
    }
    .menu__list>li {
        padding: 10px 0;
    }
    .block__section_how {
        height: 550px;
        padding-top: 100px;
    }
}

/* ================== 2 -----------*/
.b-header {
 padding:0 20px;
 position:relative;
 max-width:1200px;
 margin:0 auto 10px
}

.b-logo {
 position:absolute;
 top:-415px;
 left:30%;
 z-index:1;
 margin-left:2px;
 -webkit-transition:all 1s ease-in;
 -moz-transition:all 1s ease-in;
 -ms-transition:all 1s ease-in;
 -o-transition:all 1s ease-in;
 transition:all 1s ease-in
}

.b-logo a {
 display:inline-block
}

.b-logo img {
 /* max-width:100% */
 height:209px;
}
.b-header-holder,
.b-main-menu {
 position:relative
}
.b-main-menu {
 padding-top:50px;
  display: flex;
 align-items: center;
 justify-content: space-between;
}


.h-main-menu {
  display: flex;
 align-items: center;
 justify-content: space-between;
 max-width:1200px;
 position:relative;
 padding:20px 30px;
background-color: white;
 -webkit-border-radius:46px;
 -moz-border-radius:46px;
 border-radius:46px;
 -webkit-box-shadow:-2px 15px 84px -27px rgba(0,0,0,.75);
 -moz-box-shadow:-2px 15px 84px -27px rgba(0,0,0,.75);
 box-shadow:-2px 15px 84px -27px rgba(0,0,0,.75)
}

.b-menu-ico a {
 width:24px;
 height:24px;
 background:url("../images/menu_ico.5a00c4715d08.png") no-repeat 0 0;
 display:block
 background-color:gray;
}