{% extends "base.html" %}
{% load static %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %} {% comment %} Delete the line below if you're just getting started and want to remove the welcome screen! {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home1.css' %}">

{% endblock extra_css %} {% block content %}

<div class="b-tv-list">
    <div id="366_body">
        <div id="tv" class="b-tv">
            <div class="b-block-wrap b-holder">
                <div class="h-block-wrap">
                    <div class="b-content clear">
                        <div class="b-content-block">
                            <div class="b-content-holder">
                                <div class="h-content-holder">
                                    <div class="b-block-name">Программы</div>
<div class="b-tv-list">
    <div class="section group">

<div class="col span_1_of_2">
    <div class="b-tv-item">
        <div class="b-tv-img">
            <a href="/programs/health"><img  class="programs_img" src="/media/images/health.max-800x600.png" alt="health" /></a>
        </div>
    </div>
</div>
<div class="col span_1_of_2">
    <div class="b-tv-item">
        <div class="b-tv-img">
            <a href="/programs/serials_films"><img  class="programs_img" src="/media/images/serials_films_jQcAsxf.width-400.png" alt="" /></a>
        </div>
    </div>
</div>
</div>
<div class="section group">
    <div class="col span_1_of_2">

        <div class="b-tv-item">
            <div class="b-tv-img">
                <a href="/programs/documental"><img class="programs_img"  src="/media/images/documental_EGL7Y2S.width-400.png " alt=" " /></a>
                </div>
            </div>
        </div>

        <div class="col span_1_of_2 ">
            <div class="b-tv-item ">
                <div class="b-tv-img ">
                    <a href="/programs/cooking "><img  class="programs_img" src="/media/images/cooking_NSifH4o.width-400.png " alt=" " /></a>
                </div>
            </div>
        </div>

    </div>

    <div class="section group ">
        <div class="col span_1_of_2 ">
            <div class="b-tv-item ">
                <div class="b-tv-img ">
                    <a href="/programs/willage-life "><img class="programs_img"  src="/media/images/willage_life_fntWB3B.width-400.png "  alt=" " /></a>
                </div>
            </div>
        </div>

        <div class="col span_1_of_2 ">
            <div class="b-tv-item ">
                <div class="b-tv-img ">
                    <a href="/programs/fitness-sport "><img class="programs_img" src="/media/images/fitness_sport.width-400.png "  alt=" " /></a>
                </div>
            </div>
        </div>


    </div>
</div></div></div></div></div></div></div></div>



{% endblock content %}

