{% load i18n wagtailcore_tags %}


        <div class="col span_1_of_2">
            <div class="b-tv-item">
                <div class="b-tv-img">
                    <a href="/programs/territory-of-yoga"><img src="/uploads/tv_product/2018/b70a9d33e0e5f3cf2870fbfffba3a7af2246c934.jpg" alt="Territory of yoga" /></a>
                </div>

                <div class="b-tv-info">
                    <div class="h-tv-info">
                        <h2><a href="/programs/territory-of-yoga">Territory of yoga</a></h2>
                    </div>

                </div>
            </div>
        </div>

        <div class="col span_1_of_2">
            <div class="b-tv-item">
                <div class="b-tv-img">
                    <a href="/programs/36-and-more"><img src="/uploads/tv_product/2019/75793431a72a5c5a1224ad52b829c0b93158519a.jpg" alt="До 36 і більше" /></a>
                </div>

                <div class="b-tv-info">
                    <div class="h-tv-info">
                        <h2><a href="/programs/36-and-more">До 36 і більше</a></h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section group">
        <div class="col span_1_of_2">
            <div class="b-tv-item">
                <div class="b-tv-img">
                    <a href="/programs/real-sex"><img src="/uploads/tv_product/2019/1674999f0ea6380190cb4c07a599cc8b7ae044b9.jpg" alt="Реальний секс з Юлією Гайворонською" /></a>
                </div>

                <div class="b-tv-info">
                    <div class="h-tv-info">
                        <h2><a href="/programs/real-sex">Реальний секс з Юлією Гайворонською</a></h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="col span_1_of_2">
            <div class="b-tv-item">
                <div class="b-tv-img">
                    <a href="/programs/mamontov"><img src="/uploads/tv_product/2019/09be6a330e17e61ef4ec102278eb728feeafc1b5.jpg" alt="MAMONTov" /></a>
                </div>

                <div class="b-tv-info">
                    <div class="h-tv-info">
                        <h2><a href="/programs/mamontov">MAMONTov</a></h2>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section group">
        <div class="col span_1_of_2">
            <div class="b-tv-item">
                <div class="b-tv-img">
                    <a href="/programs/be-happy"><img src="/uploads/tv_product/2019/362d0bf75b21731100948c7e30c79e8931ae0054.jpg" alt="Be happy" /></a>
                </div>

                <div class="b-tv-info">
                    <div class="h-tv-info">
                        <h2><a href="/programs/be-happy">Be happy</a></h2>
                    </div>

                </div>
            </div>
        </div>

