
a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body._lock {
    overflow: hidden;
}

ul,
ol,
li {
    list-style: none;
}
